/*Bootstrap Features*/

$modal-xl: 1170px;
$container-max-widths: (xl: 1170px);
$font-size-base: 1rem;
$btn-font-size: 15px;
$btn-padding-x: 40px;
$btn-padding-y: 1rem;
$btn-border-radius: 20px;

/*Header Features*/

$base-size: 16px;
$font-family-base: Roboto,
sans-serif;
$header-color:#1a2940;
$header-span-color: #a8b9c0;

/*Navigation Features*/

$navigation-border-radius: 9px;
$nav-link-color:#ffc501;
$nav-link-background:#ff3150;